###############################################################################
#### ignore folder
###############################################################################
etc/
out/
.idea/
/target/
test-output/
/.idea/

###############################################################################
#### Eclipse
###############################################################################
.classpath
.project
.settings/
.vscode/launch.json

###############################################################################
#### Maven
###############################################################################
log/
target/

###############################################################################
#### intellij files
###############################################################################
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml
*.iml
*.iws

###############################################################################
#### Mac
###############################################################################
.DS_Store

###############################################################################
#### ignore files
###############################################################################
*.db
*.db
*.bak
*.dat
*.bak
*.log
*.jar
*.war
*.nar
*.ear
*.zip
*.rar
*.jar
*.lst
*.iml
*.meta
*.ctxt
*.idea
*.xlsx
*.class
*.tar.gz
*.properties
uiDesigner.xml
extent.html